 <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
<!-- change changes-->

 <h4>&nbsp; <label> West Coast VPN 2016</label></h4>
 <md-divider></md-divider>

<div layout="row" layout-wrap >
<div flex="2"></div>

 <div flex="50">
   <br>
  <h3><b>Information</b></h3>
  <md-divider></md-divider>
   <br>
		<div class="form-group">
			  <label for="usr">Agreement Name</label>
			  <input type="text" class="form-control" id="agreementName" ng-model="agreementObj.agreementName">
		</div> 
		<div class="form-group">
			  <label for="usr">Account Name</label>
			  <input type="text" class="form-control" id="accountName" ng-model="agreementObj.accountName">
		</div>  
		<div class="form-group">
			  <label for="usr">Primary Contact</label>
			  <select ng-model="agreementObj.contact" class="form-control">
			  		<option value="">--Select--</option>
			  		<option value="Diego Francis">Diego Francis</option>
			  </select>
		</div> 
		<div class="form-group">
			  <label for="usr">Binding Period Start &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;      End</label><br/>
			  <md-datepicker ng-model="startDate" md-placeholder="Enter date"></md-datepicker> <md-datepicker ng-model="endDate" md-placeholder="Enter date"></md-datepicker>
		</div> 
		<div class="form-group">
			  <label for="usr">Record Type</label>
			  <select ng-model="agreementObj.recordType" class="form-control">
			  		<option value="">--None--</option>
			  	    <option value="MSA">MSA</option>
			  </select>
		</div> 
		<div class="form-group">
			  <label for="usr">Reference #</label>
			  <input type="text" class="form-control" id="accountName" ng-model="agreementObj.referenceNo">
		</div> 

		<div class="form-group">
			  <md-checkbox ng-model="agreementObj.isPerpectual" > &nbsp;   <label for="per">Is Perpetual?</label>
		</div> 
		<div class="form-group">
			  </label><md-checkbox ng-model="agreementObj.trackVersion"> &nbsp;  <label for="tra">Track Version?
		</div> 

		<h3><b>Key Terms</b></h3>
 		<md-divider></md-divider>
 		<br>

 		<div class="form-group">
			  <label for="usr">Region</label>
			  <select ng-model="agreementObj.region" class="form-control">
			  		<option value="North America">North America</option>
			  </select>
		</div> 

		<div class="form-group">
			  <label for="usr">Payment Terms</label>
			  <select ng-model="agreementObj.paymentTerms" class="form-control">
			  		<option value="Net 30">Net 30</option>
			  </select>
		</div> 

		 
		
</div>

 <div flex="3"></div>

<div flex="45">
   <br>
   <div>
		<div class="form-group">
		  <label for="comment">Special Terms</label>
		  <textarea class="form-control" rows="5" id="comment"></textarea>
		</div> 

		<div class="form-group">
			  <label for="usr">Support Exhibits</label>
			  <select ng-model="agreementObj.support" class="form-control">
			  		<option value="--None--">--None--</option>
			  </select>
		</div> 

		<div class="form-group">
			  <label for="usr">Annual Uplift</label>
			  <select ng-model="agreementObj.annualUplift" class="form-control">
			  		<option value="--None--">--None--</option>
			  </select>
		</div> 

		<div class="form-group">
			  <md-checkbox ng-model="agreementObj.autoRenew" > &nbsp;   <label for="per">Auto Renew?</label>
		</div> 
		<div class="form-group">
			  </label><md-checkbox ng-model="agreementObj.sla"> &nbsp;  <label for="tra">SLA
		</div>

		<h3><b>Custom Fields</b></h3>
 		<md-divider></md-divider>
 		<br>
 		<div class="form-group">
			  <input type="text" class="form-control" id="accountName" value="Add Custom Field"/>
		</div> 

	</div> 
 </div>  

<div flex="1"></div>
<div flex="1"> <div class="divider"></div></div>

</div>