<div layout="column">
  <div flex layout-align="end" style="text-align: right;">
  
	   
	 <!--  <md-button class="md-raised md-button-border-blue" ng-click="showNewLineItemDialog($event)">Add New Line Item</md-button>  -->

    <md-button class="md-raised md-button-border-blue default-btn" ng-click="showNewLineItemDialog($event);" ng-disabled="disableAction('AddLineItem')">Add New Line Item</md-button>

   <!--  <a href="javascript:void(0);" class="slds-button slds-button--brand" style="display: inline-block;margin-top: 8px;" data-toggle="modal" data-target="#Attachmentwindow" ng-click="showNewLineItemDialog()">Add New Line Item</a> -->

   <!--   <md-button class="md-icon-button" aria-label="More">
        <md-icon md-svg-icon="{{envPath}}/img/icons/ic_more_vert_black_24px.svg"></md-icon>
     </md-button>
      -->
  </div>
  <div flex>
      <table class="table">
    <thead>
      <tr>
        <th>Product/Option</th>
        <th>Duration Days</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="LI in lineItem">
        <td>{{LI.productName}}</td>
        <td>{{LI.durationDays | number : 0}}</td>
        <td>{{LI.totalPrice | number : 2}}</td>        
      </tr>
       
    </tbody>
  </table>
  </div>



</div>

     