<!--  <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings">
          <md-icon md-svg-icon="{{envPath}}/img/icons/ic_menu_white_24px.svg"></md-icon>
        </md-button>
        <h2>
          <span><font color="white"><b>APT<i>TUS</i></b> | </font> <font color="white" style="font-size: 18px;">Contract LifeCycle Management </font> </span>
        </h2>
        <span flex=""></span>
        <md-button class="md-icon-button" aria-label="Favorite">
          <md-icon md-svg-icon="{{envPath}}/img/icons/ic_search_white_24px.svg" style="color: greenyellow;"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
          <md-icon md-svg-icon="{{envPath}}/img/icons/ic_help_outline_white_24px.svg"></md-icon>
        </md-button>
         <md-button class="md-icon-button" aria-label="More">
          <md-icon md-svg-icon="{{envPath}}/img/icons/ic_settings_white_24px.svg"></md-icon>
        </md-button>
         <md-button class="md-icon-button" aria-label="More">
          <md-icon md-svg-icon="{{envPath}}/img/icons/ic_notifications_white_24px.svg"></md-icon>
        </md-button>
         <md-button class="md-icon-button" aria-label="More">
          <md-icon md-svg-icon="{{envPath}}/img/icons/ic_person_white_24px.svg"></md-icon>
        </md-button>

      </div>
</md-toolbar> -->

 <div class="global-header">
             <div class="project-title" style="margin-left:6px">
                <a href="/apex/APTSCU_CLMDashboardCM"><i style="float:left;color:white;padding-top:7px;font-size:25px !important;" class="fa fa-arrow-left icon-default" aria-hidden="true"></i>
                </a>
                <span class="apt">APT</span>
                <span class="tus">TUS</span> 
                <span class="main-header-text">Contract Lifecycle Management</span>
            </div>
            <div class="right-side-section">
               <i class="fa fa-search icon-default"></i>
               <i class="fa fa-question-circle-o icon-default"></i>
               <i class="fa fa-gear icon-default"></i>
               <i class="fa fa-bell-o icon-default badge1" data-badge="6"></i>
               <img src="{{smallPhotoUrl}}" width="25px" height="25px" style="border-radius:50%" />
            </div>
        </div>