.THIS {
}
.THIS .HideLine{
    text-decoration:none !important;
}
.THIS .mainDiv{
    padding: 10px !important;
}
.THIS .osOutputLabel {
    font-size: .75rem;
    color: #54698D;
    font-weight: bold;
    font-family: 'Salesforce Sans',Arial,sans-serif;
}
.THIS .iconstyle{
    margin-bottom: 5px;
}