.flexipageHeader{
    display : none;
}
.THIS {
}
.THIS .paddingleft75rem{
    padding-left : .75rem !important;
}
.THIS .paddingleft7px{
    padding-left : 7px !important;
}
.THIS .paddingright75rem{
    padding-right : .75rem !important;
}
.THIS .paddingleftright0px{
    padding-left : 0px !important;
    padding-right : 0px !important;
}
.THIS .paddingtop0px{
    padding-top: 2px;
}
.THIS .width43per{
    width : 42% !important;
}
.THIS .width12per{
    width : 12% !important;
}
.THIS .width33per{
    width : 33% !important;
}