input.THIS {
	width : 100px !important;
    
}

.THIS .searchIcon{
   background-color: #62a70f;
   color: #fff; 
   margin-left:-28px;
   height:36px;
   width:38px;
    margin-top:-4px;
}

.THIS .accountClass{
   width:100%;
   margin-top:0px;
}

.THIS .recordType{
   margin-top:0px;
}

.THIS .c-containerSearch{
 	margin-bottom:10px;   
}

.THIS .searchText{
 margin-top: -4px;  
}

.THIS .uiInput--default .form-element__label{
    font-size:15px;  
}