.breadcrumbNormal{
      font-weight: bold;
      vertical-align: middle;
      font-size: 18px;
    font-family: calibri;
    padding-left: 15px;
    
  }
md-checkbox .md-label{
        margin-left: 25px !important;
}
md-checkbox{
    margin-right: 5px !important;
    
}
.default-datepicker md-datepicker {
        border: 1px solid #ccc;
        padding: 8px;
        margin-right: 0px;
    }
    .default-datepicker .md-button.md-icon-button {
        margin: 0px;
        width: 24px;
        height: 35px;
        padding: 0px 0px;
    }
    .default-datepicker .md-datepicker-input-container{
        width: 80px;
        margin-left: 5px;
        border-bottom-width: 0px;
    }
    .default-datepicker.form-group {
        height: 60px;
    }
     /*.default-btn.md-button.md-raised:not([disabled]) {
        box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.26);
    }*/
    .default-space {
        padding:0px 16px;
    }
    .default-input {
        box-shadow: none;
        border-radius: 1px;
    }
    .default-textarea {
        box-shadow: none;
        border-radius: 1px;
        resize:none;
    }
    .default-autocomplete md-autocomplete {
        background-color: #fff;
        height:36px;
    }
    .default-autocomplete .md-whiteframe-z1 {
        box-shadow: none;
        border: 1px solid #ccc;
    }
    .default-autocomplete md-autocomplete md-autocomplete-wrap {
        height: 35px;
    }
    .default-autocomplete md-autocomplete input:not(.md-input) {
        height: 32px;
    }
    .default-checkbox md-checkbox {
        margin: 0px;
    }
    .default-checkbox md-checkbox .md-icon {
        border-width: 1px;
        border-color: #ccc;
    }
    .default-checkbox label {
        font-weight: normal;
        /*position: relative;
        top: 45px;*/
    }
    
    
    .toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
  color: white; }


   .md-tab {
  text-transform: none !important;
  
  }
 md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
     color: black;
    font-weight: bold;
}
.ng-relatedlist{
      background-color : #ebebe0;
  }
    .md-ng-tab{
         background-color : #ebebe0;
    }
    .md-active{
       background-color : #ebebe0; 
    }

  .md-button{
    text-transform: none !important;
     line-height: 30px;
    min-height: 20px;
  }
  
  .md-button.md-raised:not([disabled]):hover {
    background-color: #185A7D;
    color: white !important;
   }
   .md-button.md-raised[disabled] {
     font-weight: bolder;
   }
 
  .md-button-blue{
          background: #185A7D !important;
  }
  
  .md-button-border-blue{
      color :#185A7D !important;
  }

  md-toolbar{
    min-height: 20px;
    height: 40px;
  }

  md-input-container{
        margin: 0px;
  }

.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }


    h4, .h4 {
    font-size: 21px !important;
}

.divider {
    background: lightgrey;
    width: 1px;
    height: 900px;
}

.menudemoBasicUsage .md-menu-demo {
  padding: 24px; }
.menudemoBasicUsage .menu-demo-container {
  min-height: 200px; }
  
  .autocompletedemoCustomTemplate .autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal; }
.autocompletedemoCustomTemplate .autocomplete-custom-template li:last-child {
  border-bottom-width: 0; }
.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title,
.autocompletedemoCustomTemplate .autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2; }
.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title md-icon {
  height: 18px;
  width: 18px; }
  
  .breadcrumbNormal{
      font-weight: bold;
      vertical-align: middle;
      font-size: 18px;
  }
  
  .breadcrumbActive{
      
  }
  
  .breadcrumb {
        padding: 14px 15px 0px 15px;
        background-color: #fff;
    }
     .sub-header {
        border-bottom: 1px solid #c9c9c9;
        margin: 0px;
        padding: 10px 20px 10px 16px;
    }
    
  
  .agreement-subheader{
   /* font-weight: bold;
    font-size: 18px;*/
    color: #185A7D;
    font-size: 16px;
    font-weight: 600;
  }
  .section-subheader{
       font-size: 18px;
  }
   .section-tittle {
        margin: 0px 15px;
        font-size: 16px;
    }
    .section-tittle h2{
        margin: 10px 0px;
    }
    .section-tittle md-divider {
        border-color: #B8B8B8;
        border-top-width: 2px;
    }
  
  label{
      font-weight: 100 !important;
  }
 .md-datepicker-calendar-icon{
        fill : red;
        color :red;
    }

    .badge1 {
    position:relative;
  }
  .badge1[data-badge]:after {
    content:attr(data-badge);
    position:absolute;
    top:-10px;
    right:-10px;
    font-size:.7em;
    background:#185A7D;
    color:white;
    width:18px;height:18px;
    text-align:center;
    line-height:18px;
    border-radius:50%;
    box-shadow:0 0 1px #333;
  }