/*
    File Name: APTSMD_ApttusCustomCSS.css
    Type: Stylesheet
    Author: Japan Bhavsar / Apttus Lab
    Date: 09-08-2019
    Description: This CSS file contains all the classes which will going to change the design of page and make page as look a like AIC   
*/

/*
    Section: Font - Roboto
*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Initialize and Use this font for this style sheet */
html *{
    font-family:Salesforce Sans,Arial,sans-serif!important;
}
/*html{*/
/*    font-size:14px! important;*/
/*}*/
body{
    font-family:Salesforce Sans,Arial,sans-serif!important;
    background-color:#fff! important;
}
html, body {
    height: 100%;
}

/* 
    Section : AuraAlohaContentFrame style sheet override
    Description: This section contains some classes which are use to override existing classes of AuraAlohaContentFrame style sheet.
*/
html body.sfdcBody{
    padding: 0px !important;
}

/*
    Section : Apttus Container
    Description: .apttusContainer class use for making outer container of page
*/
.apttusContainer {
    background-color: #fff !important;
    /*background: #eeede9 !important;*/
    padding: 15px !important; 
    /*margin-top: 7px;*/
    border:0!important;
}

/* 
    Section: Header Bar 
    Description: .apttusHeader is new class and .slds-card__header is use for overwrite classes if we use lightning css
*/
.apttusHeader, .slds-card__header {
    background-color: #303030;
    padding: .875rem 1.25rem !important;
    color: #fff;
    margin: 0px;
}

.headerIMG {
    height: 25px !important;
    width: 115px !important;    
}

/*
    Section: divScroll
    Description: to making div scroll
*/
.divScroll{
    overflow-y: auto;
    width: 99.9%;
    min-height:150px;
    max-height: 340px;
}


/*
    Section: Button
    Description: 
*/
.andsButton, .andsButton.primary, .apttusBtn {
    text-transform: none !important;
    position: relative!important;
    display: inline-block !important;
    padding-left: 1rem!important;
    padding-right: 1rem!important;
    height: 36px !important;
    background: #0070d2 !important;
    background-clip: border-box;
    box-sizing: border-box !important;
    border: 1px solid transparent;
    border-radius: 2px !important;
    border-color: #0070d2!important;
    font-size: 14px !important;
    /*line-height: 1.875rem !important;*/
    text-decoration: none;
    color: #fff !important;
    white-space: normal;
    transition: all .25s ease !important;
    transition-property: background-color,color,border !important;
    vertical-align: bottom !important;
}
.ands-container-fluid{
    box-sizing: border-box !important;
    width: 100% !important;
    margin-bottom: 10px !important;
    padding: .875rem 1.25rem !important;
    display: inline-block;
    border-radius: .25rem!important;
    /*background: #f3f2f2!important;*/
    background-clip: padding-box;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
    border: 1px solid #dddbda ! important;
    color: #080707 ! important;
    -webkit-tap-highlight-color: transparent;
    font-family: Salesforce Sans,Arial,sans-serif;
    font-size: 100%;
    line-height: 1.5;
}


.andsButton.primary:active, .andsButton:active, .apttusBtn:active {
    background-color: #005FB2 !important;
    border: 1px solid #005FB2 !important;
    transition: all .25s ease !important;
    color: #fff !important;
}

.andsButton.primary:hover, .andsButton:hover, .apttusBtn:hover {
    text-decoration: none;
    background-color: #005FB2 !important;
}

.apttusBtnWhite{
    text-transform: none !important;
    /* margin: 4px !important; */
    display: inline-block !important;
    color: #0079cc !important;
    position: relative !important;
    height: 36px !important;
    box-sizing: border-box !important;
    border-radius: 2px !important;
    transition: all .25s ease !important;
    transition-property: background-color,color,border !important;
    vertical-align: bottom !important;
    background-color:  #fff !important;
    font-size: 14px !important;
    background: #fff !important;
    /*added by sharanya*/
    /*padding: 0 16px !important;*/
    /*border: 1px solid #0079cc !important;*/
    /*border-radius: 2px !important; */
    padding-left: 1rem!important;
    padding-right: 1rem!important;
    border-color: #dddbda!important;
    /*added by sharanya*/
}

.apttusBtnWhite:active {
    background-color: #001366 !important;
    border: 1px solid #001366 !important;
    transition: all .25s ease !important;
    color: #fff !important;

}

.apttusBtnWhite:hover {
    text-decoration: none;
    background-color: transparent !important;
}
:root{
    font-size:10px!important;
}

/*.apttusBtnBlue{*/
/*    text-transform: none !important;*/
    /* margin: 4px !important; */
/*    display: inline-block !important;*/
/*    color: #fff !important;*/
/*    position: relative !important;*/
/*    height: 36px !important;*/
/*    box-sizing: border-box !important;*/
/*    border-radius: 2px !important;*/
/*    transition: all .25s ease !important;*/
/*    transition-property: background-color,color,border !important;*/
/*    vertical-align: bottom !important;*/
/*    background-color:  #fff !important;*/
/*    font-size: 14px !important;*/
/*    background: #0070d2 !important;*/
    /*added by sharanya*/
    /*padding: 0 16px !important;*/
    /*border: 1px solid #0079cc !important;*/
    /*border-radius: 2px !important; */
/*    padding-left: 1rem!important;*/
/*    padding-right: 1rem!important;*/
/*    border-color: #0070d2!important;*/
    /*added by sharanya*/
/*}*/

/*.apttusBtnBlue:active {*/
/*    background-color: #005FB2 !important;*/
/*    border: 1px solid #005FB2 !important;*/
/*    transition: all .25s ease !important;*/
/*    color: #fff !important;*/

/*}*/

/*.apttusBtnBlue:hover {*/
/*    text-decoration: none;*/
/*    background-color: #005FB2 !important;*/
/*}*/

.apttusPageHeader{
    padding: 1rem;
    border-bottom: 1px solid #dddbda;
    border-radius: .25rem;
    background: #f3f2f2;
    background-clip: padding-box;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
    border: 1px solid #dddbda;
}

.apttusPageHeaderRow{
    display: flex;
}

.apttusPageHeaderColTitle{
    flex: 1 1 0%;
    min-width: 0;
}

.apttusMedia{
    display: flex;
    align-items: flex-start;
}

.apttusMediaFigure{
    flex-shrink: 0;
    margin-right: .75rem;
}

.apttusMediaBody{
    margin-bottom: 0;
    flex: 1;
    min-width: 0;
}

.apttusPageHeaderName{
    display: inline-flex;
    padding-right: .5rem;
    max-width: 100%;
}

.apttusPageHeaderNameTitle{
    min-width: 0;
     font-size: 1.75rem;
}

.apttusTruncate{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.apttusPageHeaderNameMeta{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.00rem;
    padding-right: .5rem;
}





/* This class is only use for override wizard page button styles  */
.sf-btn {
    text-transform: none !important;
    /* margin: 4px !important; */
    color: #fff !important;
    position: relative !important;
    box-sizing: border-box !important;
    border-radius: 2px !important;
    padding: 0 16px !important;
    border: none !important;
    transition: all .25s ease !important;
    transition-property: background-color,color,border !important;
    vertical-align: bottom !important;
    background-color: #0079cc !important;
    border-radius: 2px !important; 
    font-size: 14px !important;
    background: #0079cc !important;
}

.sf-btn:active {
    background-color: #001366 !important;
    transition: all .25s ease !important;
}

/*.sf-btn:hover {*/
/*    background-color: #001366 !important;*/
/*    transition: all .25s ease !important;*/
/*}*/
.sf-t3.sf-wizard .sf-btn:after {
    content: none !important;
}

.mCustomScrollbar{
    background: #fff;
    background-color: #fff;
}

/* 
    Section: Nova grid classes override
    Description: This section is contians some override classes of nova table/grid classes
*/
.ands-row .ands-col-1{
    float: none;
}
/*
    Section : Panel
    Description: In this section we have override bootstrap panels classes
*/
.apttusPanel, .panel{
    box-sizing: border-box !important;
    width: 100% !important;
    margin-bottom: 10px !important;
    padding: .875rem 1.25rem !important;*/
    /*padding-left: .875rem !important;*/
    display: inline-block!important;
    border-radius: .25rem!important;
    background: #f3f2f2!important;
    background-clip: padding-box!important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.1)!important;
    border: 1px solid #dddbda ! important;
    color: #080707 ! important;
    -webkit-tap-highlight-color: transparent!important;
    font-family: Salesforce Sans,Arial,sans-serif!important;
    font-size: 100%!important;
    line-height: 1.5!important;
}
.buttonCls{
    background: white!important;
    border: none !important;
    float: right !important;
    /* margin-left: 93px; */
    box-shadow: none!important;
}   
._md{
    border:0! important;
}
/* 
    Section: Table
    Description: This section contains modification of table design structure
*/
.apttusTable {
    border: none !important;
    border-radius: 0px !important;    
    width: 96% !important;
}

.apttusTable td {
    border: none !important;   
    color: #4a4a4a; 
    padding-left: 0px !important;
}

.apttusTable tr {
    border: none !important;
    color: #4a4a4a;
}

.apttusTable th {
    border: none !important;
    color: #4a4a4a;
}

/* 
    Section: .slds .slds-card
    Description: This class is for override slds card's backgroud color
*/
.slds .slds-card {
    background-color: #fff !important;
    background: #fff !important; 
    border: 0px solid #d8dde6 ! important;
    margin-top: -38px;
}

.slds-card__body {
    border: 1px solid #c7c7c7;
    padding: 0px !important;
    background-color: #fff;
}

.slds .slds-table .slds-truncate{
    max-width: 100% !important;
}
.slds-max-medium-table--stacked-horizontal{
    border-collapse: separate;
    border-top: 1px solid #dddbda;
    border-bottom: 1px solid #dddbda;
	/*border-collapse: separate;*/
 /*   border-top: 1px solid #dddbda;*/
 /*   border-bottom: 1px solid #dddbda;*/
}
.slds-table--bordered tbody td, .slds-table--bordered tbody th, .slds-table--bordered thead>tr+tr>th, .slds-table_bordered tbody td, .slds-table_bordered tbody th, .slds-table_bordered thead>tr+tr>th {
    border-bottom:1px solid #dddbda! important;
}
.slds .slds-table th, .slds .slds-table td {
    border-bottom:1px solid #dddbda! important;
}
.slds .slds-table td {
    font-size:1.2rem; 
}
.slds .slds-table tr > th:first-child, .slds .slds-table tr > td:first-child {
    padding-left: 11px !important;
}
/*.slds-icon{*/
/*    background-color : #4DCA76 !important;*/
/*    fill:white!important;*/
/*}*/
.slds{
    background: #fff !important; ;
}
.slds-scope body, .slds-scope:not(html){
    font-size:inherit ! important;
}

/* 
    Section: Material Design Card Content
    Description: This section contains styles for override material card content
*/
md-card-content{
    padding: 0px !important;
}

/*
    Section : Apttus Input
    Description: This Section contains design like angular material 
*/
.apttusInput{
    border: none !important;
    border-radius: 0px !important;
    border-bottom: 1px solid rgba(0,0,0,0.12) !important;
    outline: none !important;
    box-shadow: none !important;
    display: inline-block !important;
    background: none !important;
    background-color: none !important;
}

.apttusInput:active, .apttusInput:focus {
    border-bottom: 2px solid rgb(59,161,217) !important;
}

/* 
    Section : Input Date field 
    Description: This section contains to remove 'X' and up/down arrow in input type date
*/

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

::-webkit-clear-button
{
    display: none; /* Hide the button */
    -webkit-appearance: none; /* turn off default browser styling */
}

/* 
    Section: Uniqe Radio Button for all radio button
    Description: This section contains unique radio button design using css
*/
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
    font-size: 14px !important;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    /* line-height: 20px; */
    display: inline-block;
    color: #000;
    font-size: 14px !important;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 19px;
    height: 19px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
    font-size: 14px !important;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 11px;
    height: 11px;
    background: rgb(59,161,217);
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
body input[type="radio"]:after, body input[type="checkbox"]:after, .slds-vf-scope input[type="radio"]:after, .slds-vf-scope input[type="checkbox"]:after{
    content:none;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


/*
    Section: This section contains design of common html checkboxes
    Description: .form-checkbox this class is useful to override the checkboxes design as material 
                design checkbox input.(just add this .form-checkbox class in your input type checkbox)
*/

.form-control{
    height: 34px;
    padding: 6px 12px;
    font-size: 14px !important;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
.form-checkbox
{
     -webkit-appearance: none;
     /*-moz-appearance: none;*/
     /*appearance: none;*/
     /*display: inline-block;*/
     /*position: relative;*/
     /*background-color: #fff;*/
     /*border: 2px solid rgba(0,0,0,0.54) !important;*/
     /*color: #666;*/
     /*top: 10px;*/
     /*height: 22px;*/
     /*width: 22px;*/
     /*border: 0;*/
     /*border-radius: 2px;*/
     /*cursor: pointer;     */
     /*margin-right: 7px;*/
     /*outline: none;*/
     /*margin-top: 0px;*/
    width: 2.0rem!important;
    height: 2.0rem!important;
    display: inline-block!important;
    position: relative!important;
    vertical-align: middle!important;
    border: 1px solid #dddbda!important;
    border-radius: .125rem!important;
    background: #fff!important;;
    transition: border .1s linear,background-color .1s linear!important;
}
.form-checkbox:checked::before
{
     /*position: absolute;*/
     /*font: 14px/1 'Open Sans', sans-serif;*/
     /*left: 6px;*/
     /*top: 1px;*/
     /*content: '\02143';*/
     /*color: rgba(64,196,255,1);*/
     /*transform: rotate(40deg);*/
    
}
.form-checkbox:after
{
    display: block!important;
    color:#0070d2!important;
    height: .25rem!important;
    width: .5rem!important;
    position: absolute!important;
    top: 50%!important;
    left: 50%!important;
    transform: translate3d(-50%,-50%,0) rotate(-45deg)!important;
    border-bottom: 2px solid #0070d2!important;
    border-left: 2px solid #0070d2!important;
}
.form-checkbox:checked::after {
    display: block!important;
    color: #0070d2!important;
    content: '';
    height: 0.5rem!important;
    width: 1.0rem!important;
    position: absolute!important;
    top: 50%!important;
    left: 50%!important;
    transform: translate3d(-50%,-50%,0) rotate(-45deg)!important;
    border-bottom: 2px solid #0070d2!important;
    border-left: 2px solid #0070d2!important;
}

.form-checkbox:hover
{
     /*background-color: #f7f7f7;*/
}
.form-checkbox:checked
{
     /*background-color: #f1f1f1;*/
}

.form-radio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #fff;
     border: 2px solid rgba(0,0,0,0.54) !important;
     color: #666;
     /*top: 10px;*/
     height: 22px;
     width: 22px;
     border: 0;
     border-radius: 50%;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
     margin-top: 0px;
}
.form-radio:checked::before
{
     position: absolute;
     font: 14px/1 'Open Sans', sans-serif;
     left: 6px;
     top: 1px;
     content: '\02143';
     color: rgba(64,196,255,0.87);
     transform: rotate(40deg);
}
.form-radio:hover
{
     /*background-color: #f7f7f7;*/
}
.form-radio:checked
{
     /*background-color: #f1f1f1;*/
}


/*
    Section : Material Design
    Description: This section contains changes for material inputs
*/
md-select {
    padding:  0px !important;
    margin: 0px !important;
}

md-input-container {
    padding:  0px !important;
    margin: 0px !important;
}

md-input-container .md-errors-spacer{
    display: none;
}

/* 
    Section: Unique Anchor Tag
*/
.anchor {
    color: #337ab7 !important;
    text-decoration: none;
}

/*
    Section: Material TAB design
*/
md-tab-item {
    font-weight: normal!important;
    font-size: 1.2rem!important;
    color: #000 !important;
    text-transform: capitalize !important;
}

/*
    Section: Fonts/Icon override section
    Description: This section is going to use for override the font for the icon
*/
.material-icons {
    font-family: 'Material Icons' !important;
    font-weight: normal ;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    outline: none;
}
md-content.md-default-theme, md-content{
    background-color: inherit;
}
.fa{    
    font:Â normal normal normal 14px/1 FontAwesome !important;
    font-family: FontAwesome !important;
}

/*
    Section: Material Design Checkbox
    Description: This section is use for override style of material desing checkbox
*/
md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon{
    border-color: rgba(0,0,0,0.54) !important;
    background: white;
    background-color: white;
    
   
}
.md-icon{
    width: 2rem!important;
    height: 2rem!important;
    display: inline-block!important;
    position: relative!important;
    vertical-align: middle!important;
    border: 1px solid #dddbda!important;*/
    border-radius: .125rem!important;
    background: #fff!important;
    transition: border .1s linear,background-color .1s linear!important;
}
.md-icon:after{
    display: block;
    /*content: "";*/
    height: 2rem;
    width: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0) rotate(-45deg);
    border-bottom: 2px solid #0070d2;
    border-left: 2px solid #0070d2;
}
md-checkbox.md-checked .md-icon:after {
    color: rgb(59,161,217); 
    border-color: rgb(59,161,217);
}
.slds-icon_container{
    text-align: -webkit-center;
    vertical-align: middle;
    /*padding: 5px;*/
}
/*
    Section : Text selection    
*/
::-moz-selection { /* Code for Firefox */
    color: #000 !important;
    background: lightgrey !important;
}

::selection {
    color: #000 !important; 
    background: lightgray !important;
}

/*
    Section: 
*/
thead th{
    position: sticky !important;
    top: 0;
    background-color: #f3f2f2!important;
    border-bottom:1px solid #dddbda;
    z-index: 5;  
    padding: 1rem !important;
    box-shadow: 0px 1px 2px #e5e7ef;  
}

thead th{
    border-top: none !important;
}

/*thead th:hover {*/
/*    background-color:none !important;*/
/*}*/

/* 
    Section : Some Useful classes for common use in all
*/
.padding0{
    padding: 0px !important;
}
.padding10{
    padding: 10px !important;
}
.paddingTop0{
    padding-top: 0px !important;
}
.paddingTop4{
    padding-top: 4px;
}
.paddingTop5{
    padding-top: 5px;
}
.paddingTop10{
    padding-top: 10px !important;
}
.paddingLeftRight0{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.paddingLeft5{
    padding-left: 5px !important;
}
.paddingLeft10{
    padding-left: 10px !important;
}
.paddingLeft20{
    padding-left: 20px !important;
}
.paddingRight5{
    padding-right: 5px !important;
}
.paddingRight10{
    padding-right: 10px !important;
}
.paddingRight15{
    padding-right: 15px !important;
}
.paddingBottom5{
    padding-bottom: 5px !important;
}
.paddingBottom10{
    padding-bottom: 10px !important;
}
.marginAuto{
    margin: auto;
}
.margin0{
    margin: 0px !important;
}
.margin10{
    margin: 10px !important;
}
.marginBottom5{
    margin-bottom: 5px !important;
}
.marginBottom10{
    margin-bottom: 10px !important;
}
.marginBottom12{
    margin-bottom: 12px !important;
}

.marginBottom15{
    margin-bottom: 15px ! important;
}
.marginRight5{
    margin-right: 5px !important;
}
.marginRight10{
    margin-right: 10px !important;
}
.marginTop0{
    margin-top: 0px !important;
}
.marginTop5{
    margin-top: 5px !important;
}
.marginTop15{
    margin-top: 15px !important;
}
.marginTop45{
    margin-top: 45px !important;
}
.marginTop55{
    margin-top: 55px !important;
}
.marginTop60{
    margin-top: 60px !important;
}
.marginTop70{
    margin-top: 70px !important;
}
.marginTop10{
    margin-top: 10px !important;
}
.marginTop50{
    margin-top: 50px !important;
}
.marginTop100{
    margin-top: 100px !important;
}
.marginTop7{
    margin-top: 7px !important;
}
.marginTopm9{
    margin-top: -9px !important;
}
.marginTop6{
    margin-top: 6px !important;
}
.marginTop30{
    margin-top: 30px !important;
}
.marginTop42{
    margin-top: 42px !important;
}
.marginBottom20{
    margin-bottom: 20px;
}
.marginBottom30 {
    margin-bottom: 30px;
}
.marginBottom50{
    margin-bottom: 50px !important;
}
.marginBottom150{
    margin-bottom: 150px !important;
}
.marginTop15{
    margin-top: 15px !important;
}
.floatRight {
    float: right !important;
}
.floatLeft {
    float: left !important;
}
.blackBold{
    font-weight: normal!important;
    font-size: 1.5rem!important;
    color: #000 !important;
    outline: none !important; 
}
.capitalize{
    text-transform: capitalize !important;
}
.backgroundWhite{
    background: #fff !important;
    background-color: #fff !important;    
}
.stopResizeTextArea{
    resize: none;
}
.colorBlack{
    color: #000;
}
.colorWhite{
    color: #fff;
}
.displayInline{
    display: inline !important;
}
.displayBlock{
    display: block !important;
}
.displayIB{
    display: inline-block !important;
}
.displayNone{
    display: none !important;
}
.width160{
    width: 160px;
}
.width180{
    width: 180px;
}
.formContainer{
    margin: 10px 20px;
    padding: 10px;
}
.textAreaHW{
    height: 7.5em !important;
    width: 30em !important;
}
.radioFieldSetClass{
    display: -webkit-inline-box !important;
    position: absolute;
}
.outLineNone{
    outline: none !important;
}
.textDecoNone{
    text-decoration: none !important;
}
.boxShadowNone{
    box-shadow: none !important;
}
.borderLeftGrey{
    border-left: 1px solid #d8dde6;
}

/*
    Section: Placeholder styles
*/
  ::-webkit-input-placeholder,.md-input-has-placeholder { /* Chrome/Opera/Safari */
   font-weight: 400;
   font-size:1.2rem!important;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-weight: 400;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-weight: 400;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-weight: 400;
  }


/*
    Section: Common Header Bar Classes 
    Description: This section contains classes fot override common header-bar
*/
/*.navbar, .navbar-inverse {*/
/*    height: 57px !important;*/
/*    margin: 0px !important;*/
/*    padding: 0px !important;*/
/*    position: sticky !important;*/
/*    z-index: 10 !important;*/
/*    width: 98.3%; */
/*    margin: auto!important;*/
/*    margin-top: -21px !important;*/
/*    position: sticky !important;*/
/*    z-index: 10 !important;*/
/*    padding: 1rem;*/
/*    border-bottom: 1px solid #dddbda;*/
/*    border-radius: .25rem!important;*/
/*    background: #f3f2f2!important;*/
/*    background-clip: padding-box;*/
/*    box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);*/
/*    border: 1px solid #dddbda ! important;*/
/*    color: #080707 ! important;*/
/*    -webkit-tap-highlight-color: transparent;*/
/*    font-family: Salesforce Sans,Arial,sans-serif;*/
/*    font-size: 100%;*/
/*    line-height: 1.5;*/
/*} */
nav{
    padding:0 ! important;
}
.navbar, .navbar-inverse {
    /*height: 57px !important; */
    /*position: sticky!important;*/
    /*z-index: 10 !important;*/
    /*box-sizing: border-box !important;*/
    /*padding: .875rem 1.25rem !important;*/
    /*border-radius: .25rem!important;*/
    /*background: #f3f2f2!important;*/
    /*background-clip: padding-box;*/
    /*box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);*/
    /*border: 1px solid #dddbda ! important;*/
    /*color: #080707 ! important;*/
    /*-webkit-tap-highlight-color: transparent;*/
    /*font-family: Salesforce Sans,Arial,sans-serif;*/
    /*font-size: 100%;*/
    /*line-height: 1.5;*/
    height: 57px !important;
    margin-left: 1.3%!important;
    margin-left: 15px!important;
    margin-right: 30px!important;
    margin-bottom: 15px!important;
    box-sizing: border-box !important;
    border-radius: .25rem!important;
    background: #f3f2f2!important;
    background-clip: padding-box!important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.1)!important;
    border: 1px solid #dddbda ! important;
    color: #080707 ! important;
    -webkit-tap-highlight-color: transparent!important;
    font-family: Salesforce Sans,Arial,sans-serif!important;
    font-size: 100%!important;
    line-height: 1.5!important;
}
.headerContainer{
    /*padding: 45px ! important;*/
    /*position: sticky!important;*/
    /*z-index: 11 ! important;*/
    /*display: inline-block;*/
    /*background-color: #fff! important;*/
    height: 57px!important;
    position: fixed!important;
    width: -webkit-fill-available;
    z-index: 11 ! important;
    padding-top: 0px!important;
    /*margin-top: -15px;*/
    top:0! important;
}

.navbar-nav{
    margin-top: 10px !important;
    font-size: 16px !important;
    /*added by sharanya*/
    /*color: white !important;*/
    color: #080707!important;/*added by sharanya*/
}

.navbar-nav > li {
    margin-left: 5px !important;
    /*font-size: 2rem!important;*/
    font-weight: 700;
}

.container-fluid{
    padding-right: 15px!important;
    padding-left: 0!important;
    margin-left: -35px!important;
    margin-right: auto!important; 
}
/*
    Section: md-switch styles
    Description: This style is use for override the style for md-switch
*/
md-switch.md-checked .md-bar {
    background-color: #0079cc;
}
md-switch.md-checked.md-primary .md-bar{
    background-color: #75C0F5!important;
}

/*
    Section: Md-ripple
*/
md-tabs .md-tab .md-ripple-containerÂ {
    color:Â rgb(128,216,255) !important;
} 


/*
    Section : Alignment section
    Description: This section contains all the datatype align ment icon
*/
.currencyTextAlign{
    text-align: right !important;
    padding-right: 25px !important;
}
.numberTextAlign{
    text-align: right !important;
    padding-right: 25px !important;
}
.normalBlank{
    color: #000 !important;
}
.simpleTextAlign{
    text-align: left !important;
}
.simpleTextAlignCenter{
    text-align: center !important;
}
.tableHeader{
    text-align: left !important;
}
.tableHeaderFont{
    font-size: 14px !important;
}
.labelFont{
    font-size: 14px !important;
}
.lightBigIcon{
    color: rgba(0,0,0,0.3) !important;
    font-size: 26px !important;
}
.lightBigIcon:hover{
    color: #0079cc !important;
}
.sectionHeaderFont{
    font-size: 14px !important;
}
.normalTextFont{
    font-size: 14px !important;
}
.verticalBottom{
    vertical-align: bottom !important;
}
.verticalTop{
    vertical-align: top !important;    
}
.verticalMiddle{
    vertical-align: middle !important;
}
.inputLabelVAlign{
    vertical-align: middle !important;
}
.warningText{
    font-size: 18px; 
    color: #a94442 !important;
}
.warningSmallText{
    font-size: 12px; 
    color: #a94442 !important;
}
.warnColor{
    color: #a94442 !important;
}
.textAlignCenter{
    text-align: center !important;
}
.textAlignLeft{
    text-align: left !important;
}
.textAlignRight{
    text-align: right !important; 
}
.width50P{
    width: 50% !important;
}
.width45P {
    width: 45% !important;
}
.width20P{
    width: 20% !important;
}
.width10P{
    width: 10% !important;
}
.width30P{
    width: 30% !important;
}
.width5P{
    width: 5% !important;
}
.width2P{
    width: 2% !important;
}
.noFoundMessage{
    font-size: 16px;
    color: rgba(0,0,0,0.5);
}
.borderRadius0 {
    border-radius: 2px !important;
}
.borderBottomDark{
    border-bottom: 1px solid rgba(0,0,0,0.7);
}
.smallMsgText{
    font-size: 13px;
    color: rgba(0,0,0,0.6);
}
.height10{
    height: 10px;
}
.height50{
    height: 50px;
}
.maxHeight300{
    max-height: 300px;
}
.maxHeight280{
    max-height: 280px;
}
.width280{
    width: 280px;
}
.width250{
    width:250px;    
}
.width150{
    width: 150px;
}
.width140{
    width: 140px;
}
.width100{
    width: 100px;
}
.width100P{
    width: 100%;
}
.width25P{
    width: 25%;
}
.marginRight30{
    margin-right: 30px;
}
.overFlowY{
    overflow-y: auto;
}.overflowX{
    overflow-x: auto;
}
.overflowHidden{
    overflow: hidden;
}
.marginLeft20{
    margin-left: 20px !important;
}
.marginLeft10{
    margin-left: 10px !important;
}
.marginLeft-230{
    margin-left: -230px;
}
.positionAbsolute{
    position: absolute !important;
}
.borderNone{
    border: none !important;
}
.fontWeight400{
    font-weight: 400;
}
.fontSize0d5px{
    font-size:0.5 rem !important;
}
.fontSize14px{
    font-size:14px !important;
}
.paddingRight0{
    padding-right: 0px !important;
}
.cursorPointer{
    cursor: pointer;
}
/*
    Section: Glyphicon  icons override
*/
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings' !important;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*
    Section: Override salesforce classic classes    
*/
.marginTop104{
    margin-top: 104px;
}
.brandPrimaryFgr {
    font-size: 12px !important;
    margin: 0px !important;
}

.zen .zen-headerBottom {
	border-top-left-radius: 5px !important ;
    border-top-right-radius: 5px !important ;
    background: -moz-linear-gradient(#E5F2F6,#CDE8F0) !important ;
    background: -webkit-linear-gradient(#E5F2F6,#CDE8F0) !important ;
    background: linear-gradient(#E5F2F6,#CDE8F0) !important ;
    -moz-box-shadow: 0 3px 10px hsla(100,0%,0%,.3) !important ;
    -webkit-box-shadow: 0 3px 10px hsla(100,0%,0%,.3) !important ;
    box-shadow: 0 3px 10px hsla(100,0%,0%,.3) !important ;
}

.zen .zen-tabMenu a {
	font-size: 1.083em !important ;
    font-weight: bold !important ;
}

#tabContainer > nav {
    background: none !important;
    padding: 0px !important;
}
/*
    Section: Indicator Section
    description: For Showing Indicator
*/
.indicator{
    background-color:#abffe3;
    width:25px;
    height:25px;
    border-radius:50% !important;
    font-size: 14px !important;
}

/*
    Section: Loading Image Section
    Description: This section contains all the style for 
*/
.myinput{
    width: 155px !important;
    background-color: white;
    color: #16325c;
    border: 1px solid #d8dde6;
    border-radius: 4px;
    transition: border 0.1s linear, background-color 0.1s linear;
    display: inline-block;
    padding: 0 0 0 15px;
    line-height: 34px;
}
.loading-container{
    padding-top: 20%;
    position: fixed;
    left: 0px;
    top:0px;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    background-color: rgba(198, 198, 198,0.70);
}

.sortorder:after {
content: '\25b2';
}
.sortorder.reverse:after {
content: '\25bc';
}
.lookupHoverDetail {
z-index: 99999;
}
body .lookupHoverDetail.individualPalette>div>.bPageBlock{
width:395px;
}

/*
    Section: This section is related to all design changes about 
    Description: This style sheet is going to use for override all the vf pages tags
*/
/* Hide bottom button in page block button */
.pbBottomButtons{
    display: none !important;
}
/* Page top button of page block button in right side */
.pbButton{
    float: right !important;
}
/* override pbHeader section and make its background white */
.pbHeader, .pbSubheader{
    background: #fff !important;
    background-color: #fff !important;
    border: none !important;
}
/* remove pbBody margin and border */
.pbBody{
    margin: 0px !important;
    background-color: #fff !important;
    background: #fff !important;
}
/* override bPageBlock  for hide border top */
.bPageBlock {
    border: none !important;
}

/*
    Section: Disable button class override
    Description: This section is used for override class of disabled class
*/
.disabled{
    border-color: #c4c4c4 !important;
    color: #909090 !important;
    pointer-events: none !important;
    background-color: #e5e5e5 !important;
    background: #e5e5e5 !important;
}
.disabled:hover{
    border-color: #c4c4c4 !important;
    color: #909090 !important;
    background: none !important;
    background-color: none !important;
}
/*
    Section: Circle class for guidance
*/
.circleClass
{
    padding: 9px 9px;
    width: 2px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
}

