.THIS {
    white-space: nowrap;
}
.THIS .osOutputLabel {
    color: #54698D;
    font-size: .75rem;
}
.THIS .dataCol {
    color: #16325C;
}
.THIS .forcePageBlockItemView .dataCol {
    font-weight: normal;
}
.THIS .spacer {
    margin: 0 .4rem;
}
.THIS .forcePageBlockItem .forcePageBlockItemView{
	margin-top: 0;    
	margin-bottom: 0;    
}
.THIS .forcePageBlockItemView.full {    
    border-bottom: 0;
}

.THIS .forcePageBlockItemView.full:last-child {
    border-left: 0px;
}
.THIS .forcePageBlockItemView.full {
    padding: 1px 10px 6px 10px;
    margin-top: 10px 5px 2px 5px;
}
.THIS .h3 {
    color: #16325C;
    font-weight: bold; 
}
.THIS #apttuslogo {
    padding-left: 10px;
    padding-right: 4px;
    margin-bottom: -6px;
    height: 22px;
}
.THIS .textAlignLeft{
    text-align: left;
}
.THIS a{
    text-decoration: none !important;
}