.THIS .flexipageHeader{
    display : none !important;
}
.THIS .width70per{
    width : 70% !important;
}
.THIS .width10per{
    width : 10% !important;
}
.THIS .width30per{
    width : 30% !important;
}

.THIS .padding2px{
    padding : 2px !important;
}
.THIS .flexipageHeader{
    display : none !important;
}